@charset "utf-8"
*{
    margin:0px;
    padding:0px;
    font-family:"微软雅黑";
}
body{
    color: #333;
    font-size: 12px;
    height: 24px;
}
a{
    text-decoration:none;
}
img{
    border:none;
}
h1,h2,h3,h4{
    font-weight:normal;
}
.header {
    min-width:1170px;
    height:112px;
    overflow:hidden;
    position:relative;
    background-color: #030702;
}
.header .header_top{
    position: fixed;
    height: 112px;
    width: 100%;
    background:#030702;
    background:rgba(0,0,0,0.7);
    /*z-index:100;*/
}
.header .header_top .header_box{
    height:84px;
    padding-top:28px;
}
.con_box{
    width:1200px;
    margin:0 auto;
    clear:both;
}
.header .header_top .header_box .logo{
    display:inline-block;
    float:left;
    background:url(../images/logo.png) no-repeat;
    height:55px;
    width:300px;
}
.header .header_top .header_box .searh_box {
    text-align: right;
    float: right;
}
.header .header_top .header_box .searh_box .pl_sy{
    width: 24px;
    height: 24px;
    margin-right:20px;
    vertical-align: middle;
}
.header .header_top .header_box .searh_box .mf_sy {
    height: 32px;
    width: 101px;
    vertical-align: middle;
}
.header .header_top .header_box .searh_box p{
    padding-top: 15px;
    text-align: right;
    color: #FFF;
    font-size: 14px;
}
.menu{
    font-family: "微软雅黑";
    height: 37px;
    line-height: 37px;
    position: relative;
    font-size: 14px;
    float: right;
    margin-right: 90px;
}
.menu ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.menu1,.menu2 {
    float:left;
    padding-left:45px;
    position: relative;
}
.menu1_a,.menu1_a:visited {
    color: #FFF;
    display: inline-block;
    font-size: 15px;
}
.menu1 ul,.menu2 ul {
    display: none;
    padding-left: 45px;
}
.menu1_a:hover,.menu2 a:hover,.menu1 a.cur,.menu2 a.cur{color:#6AB512; border-bottom:1px solid #FFF;}
.menu1:hover a,.menu2:hover a {color:#6AB512; border-bottom:1px solid #FFF;}
.menu1:hover ul{display:block; position:absolute; width:650px;top:35px; left:0;  color:#fff;}
.menu2:hover ul {display:block;position:absolute; width:650px;top:35px; right:-12px;  color:#fff;}
.menu1:hover ul li{ float:left;}
.menu2:hover ul li{ float:right;}
.menu1:hover ul li a,.menu2:hover ul li a{display:block; background:url(../images/ico.png) no-repeat left center; color:#fff; padding:0px 10px; width:auto; border-bottom:none; font-size:13px;}
.menu1:hover ul li a:hover ,.menu2:hover ul li a:hover {color:#6AB512;}

.hj{overflow:hidden;clear:both; height:10px;}
.ad{
    width:100%;
    height:90px;
    text-align: center;
}
.ad img{
    width: 1000px;
    height: 90px;
    margin: 0 auto;
}
.wrap {
    width: 1000px;
    position: relative;
    clear:both;
    margin: 0 auto;
}
.wrap_left{
    width: 640px;
    float: left;
}
.crumb{
    width:640px;border-bottom:2px solid #e6e6e6;clear:both;float:left;
}
.crumb a,.crumb span{
    display:inline-block; margin-right:10px; font:16px/64px arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif;
}
.crumb a:hover{font:16px/64px 'Microsoft Yahei',arial, Helvetica,'Hiragino Sans GB', sans-serif; color:#0062b0;}
.crumb span {
    color:#999999;
}
.titleH{ clear:both; float:left; width:640px; padding-top:5px;}
.titleH h1{ margin: 3px 0; font:30px/44px 'Microsoft Yahei',arial, Helvetica,'Hiragino Sans GB', sans-serif; color:#333; text-align:center;}
.zsp{ display:block; width:640px; padding:2px 0 16px 0; border-bottom:2px solid #e6e6e6;font:13px/13px 'Microsoft Yahei',Times New Roman,SimSun,Serif; color:#999999; text-align:center;}
.zsp span{ display:inline-block; margin:0 15px;}


.contdiv{ font-size:16px; width:640px; line-height:30px;clear:both;padding-top:4px;}
.contdiv p{ padding:5px;}

.wrap_right {
    width: 280px;
    float: right;
}
.rHM30{ margin-top:64px;border-top:2px solid #e6e6e6;}
.rHM20{ margin-top:20px;border-top:2px solid #e6e6e6;}
.rHM10{ margin-top:10px;border-top:2px solid #e6e6e6;}
.rH2{ clear:both; display:block; height:48px;font:18px/48px 'Microsoft Yahei',arial, Helvetica,'Hiragino Sans GB', sans-serif; color:#333333;}
.rh3{margin-top:-12px;clear:both; display:block; height:48px;font:20px/48px 'Microsoft Yahei',arial, Helvetica,'Hiragino Sans GB', sans-serif; color:#333333;}
.rH{border-top:2px solid #e6e6e6;}
.plk {
    background-color: #fff;
    border-bottom: 2px solid #e6e6e6;
    display: block;
    padding-bottom: 13px;
    width: 100%;
}
.yiyu p{
    margin-top:10px;
    text-indent:2em;
    font:14px/26px 'Microsoft Yahei',Arial, Helvetica,'Hiragino Sans GB', sans-serif;
    color:#333;
}
.plk2 {
    background-color: #fff;
    display: block;
    width: 100%;
}
.plk li {
    display: block;
    height: 30px;
}
.plk li a {
    color: #333;
    font: 16px/30px "Microsoft Yahei", arial,Helvetica,"Hiragino Sans GB",sans-serif;
}
.plk li a:hover {
    color: #0062b0;
    font: 16px/30px "Microsoft Yahei",arial,Helvetica,"Hiragino Sans GB",sans-serif;
}
.plk2 li {
    display: block;
    height: 30px;
}
.plk2 li a {
    color: #333;
    font: 16px/30px "Microsoft Yahei", arial,Helvetica,"Hiragino Sans GB",sans-serif;
}
.plk2 li a:hover {
    color: #0062b0;
    font: 16px/30px "Microsoft Yahei",arial,Helvetica,"Hiragino Sans GB",sans-serif;
}
.lookElse {
    clear: both;
    overflow: hidden;
    width: 100%;
}
.lookElse a {
    border: 1px solid #dddddd;
    border-radius: 4px;
    color: #2674d9;
    display: block;
    float: left;
    font: 16px/32px "Microsoft Yahei";
    margin: 0 8px 12px 0;
    overflow: hidden;
    padding: 0 15px;
    white-space: nowrap;
}
/*新闻与频道页面样式*/
.chanTitle {
    display:block; width:660px;border-bottom:1px solid #e6e6e6; background-color:#FFF; z-index:999;margin-top:40px;
}
.chanTitle2 {
    display:block; width:660px;background-color:#FFF; z-index:999;margin-top:40px;
}
.chanDiv{
    width:650px; height:140px; padding:0 5px; border-bottom:1px solid #e6e6e6;overflow:hidden;
}
.chanDiv dl{ clear:both; float:left; display:block; width:650px; }
.chanDiv dl dt,.chanDiv dl dd{ display:block; float:left; overflow:hidden;}
.chanDiv dl dt{ width:150px; height:100px;margin-top:10px;}
.chanDiv dl dd{ position:relative; width:430px; padding:10px 10px 20px 10px;}
.chanDiv dl dd p a{overflow:hidden;width:100%; height:100px; font: normal 22px/30px 'Microsoft Yahei', Helvetica,Arial, 'Hiragino Sans GB', sans-serif; color:#333333;}
.chanDiv dl dd p a:hover{color:#0062b0;}

.chanDay{ height:24px;}
.chanDay span{ display:block; float:left; font:13px/24px "Microsoft Yahei",Times New Roman,SimSun,Serif; color:#8c8c8c;}





