 .module{
    margin-bottom: 15px;
}
.module .bd {
    margin: 0 15px 15px;
}
.module .btn{
    position: relative;
    display: inline-block;
    min-width: 64px;
    height: 36px;
    padding: 0 15px;
    border: medium none;
    background: #ddd;
    line-height: 36px;
    text-align: center;
    font-family: Tahoma,Arial, Helvetica,"Microsoft YaHei";
    font-size: 14px;
    color: #444;
    cursor: pointer;
    text-decoration: none;
    border-radius: 3px;
    box-sizing: border-box;
    outline: none;
    -webkit-appearance: none;
}
.module .btn:hover {
    background: #ccc;
}
.module .btn-blue {
    background: #2095f2;
    color: #fff;
}
.module .btn-blue:hover {
    background: #207fcc;
}
.module .btn-green {
    background: #4bae4f;
    color: #fff;
}
.module .btn-green:hover {
    background: #47a04b;
}
.module .btn-black{
    background: #444;
    color: #fff;
}
.module .btn-black:hover{
    background: #000;
}

.mod-breadCrumbs{
    position: relative;
    top: -12px;
    line-height: 30px;
    color: #666;
}
.mod-breadCrumbs .bd{
    margin: 0 15px;
}
.mod-breadCrumbs span,.mod-breadCrumbs a{
    vertical-align: middle;
    color: #666;
}

.mod-panel .hd{
    margin-bottom: 5px;
    line-height: 36px;
    text-align: center;
    font-size: 18px;
}
.mod-panel iframe{
	display: block;
	margin: 0 auto;
	opacity: 0.8;
}
.mod-panel .bd p{
    margin-bottom: 5px;
	text-align: center;
}
.mod-panel .bd .btn{
    margin: 0 4px;
    min-width: 96px;
    padding: 0 5px;
}
.mod-panel .bd .btn-black{
    padding: 0 12px;
}
.mod-panel .table-inner{
    overflow-x: auto;
}
.mod-panel table{
	width: 100%;
	margin-bottom: 15px;
    background: #fff;
    color: #666;
}
.mod-panel table caption{
	line-height: 42px;
	text-align: center;
    font-size: 18px;
}
.mod-panel table td{
	padding: 7px 10px;
    border: 1px solid #ccc;
    line-height: 20px;
    text-align: left;
}
.mod-panel table .th {
	text-align: right;
    white-space: nowrap;
    background: #f8f8f8;
}
.mod-panel table thead .th{
    text-align: left;
}
.mod-panel table .active{
	color:#2095f2;
}
.mod-panel table .text-big{
    font-size: 18px;
}
.mod-panel tfoot td{
    padding: 0;
}
.mod-panel tfoot .more{
    display: block;
    height: 42px;
    background: #f5f5f5;
    line-height: 42px;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
}
.mod-panel tfoot .more span{
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-top: -2px;
    background: url('../../image/ip/icon-more.png') center center no-repeat;
    vertical-align: middle;
}
.mod-panel tfoot p{
    line-height: 30px;
    text-align: center;
}
.mod-panel tfoot .link{
    padding: 5px;
    line-height: 26px;
    text-align: center;
    overflow: hidden;
}
.mod-panel tfoot .link a{
    white-space: nowrap;
    display: block;
    width: 33.3%;
    float: left;
    border: 1px solid #fff;
    background: #f5f5f5;
    text-align: center;
    box-sizing: border-box;
    text-decoration: none;
}
.mod-panel tfoot .link a:hover{
    background: #4bae4f;
    color: #fff;
}
.mod-panel .track-list{
    margin-left: 15px;
    list-style-type:square;
}
.mod-panel .track-list li{
    margin-bottom: 12px;
    color: #666;
}
.mod-panel .table-weather{
    border: 1px solid #f0f0f0;
}
.mod-panel .table-weather tr:nth-child(2n){
    background: #f8f8f8;
}
.mod-panel .table-weather td{
    border: none;
    height: 30px;
    padding: 3px 5px;
}
.mod-panel .table-weather span,.mod-panel .table-weather img{
    vertical-align: middle;
}
.mod-panel .link-list{
    overflow: hidden;
}
.mod-panel .link-list li{
    float: left;
    width: 50%;
    height: 36px;
    margin-bottom: 2px;
    line-height: 36px;
    text-align: center;
}
.mod-panel .link-list li a{
    display: block;
    margin: 0 1px;
    background: #ebebeb;
    text-decoration: none;
}
.mod-panel .province-list{
    overflow: hidden;
}
.mod-panel .province-list li{
    float: left;
    width: 25%;
    height: 36px;
    margin-bottom: 2px;
    line-height: 36px;
    text-align: center;
}
.mod-panel .province-list li a{
    display: block;
    margin: 0 1px;
    background: #ebebeb;
    text-decoration: none;
}
.mod-panel .city-list{
    overflow: hidden;
}
.mod-panel .city-list li{
    float: left;
    line-height: 150%;
}
.mod-panel .city-list li.word{
    width: 100%;
    margin-top: 15px;
    font-size: 16px;
    font-weight: bold;
}
.mod-panel .city-list li a{
    padding: 0 8px;
    color: #666;
}
.mod-panel .train-list li{
    background: #f0f0f0;
    padding: 5px 15px;
    margin-bottom: 2px;
}
.mod-panel .train-list p{
    text-align: left;
    color: #666;
}
.mod-panel .train-list a{
    color: #2095f2;
}

.mod-form .hd{
    height: 22px;
    border-left: 3px solid #2095f2;
    margin-left: 15px;
    margin-bottom: 7px;
    padding-left: 10px;
    line-height: 22px;
    font-size: 16px;
}
.mod-form .bd .input-text{
    width: 240px;
    height: 20px;
    padding: 7px 10px;
    border: 1px solid #dbdbdb;
    line-height: 20px;
    outline: none;
}
.mod-form .ft{
    text-align: center;
}

.mod-banner{
    margin-bottom: 15px;
    text-align: center;
}
.mod-banner .bd img{
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 320px){
    .module .bd{
        margin: 0 12px 15px;
    }
    .module .btn{
        min-width: 54px;
        padding: 0 12px;
    }

    .mod-panel .bd .btn{
        margin: 0;
    }

    .mod-form .bd .input-text{
        width: 210px;
    }
}