
@{
    ViewBag.Title = "Login";
}

<div class="register_bg">
    <div class="main">
        <div class="main_center">
            <div class="main_left">
                <div class="phone_register">
                    <span class="glyphicon glyphicon-phone"></span>手机号码登陆
                </div>
                <div class="email_register">
                    <span class="glyphicon glyphicon-envelope"></span> 邮箱登陆
                </div>
                <form class="phone_tpl" action="doLogin" method="post">
                    <input type="text" class="phone_input" name="username" placeholder="填写手机号" />
                    <div class="hide phone_info">
                        <font color="red">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                            <span class="fail_info"></span>
                        </font>
                    </div>
                    <input type="password" class="password_input" name="password" placeholder="设置密码" />
                    <div class="hide pass_info">
                        <font color="red">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                            <span class="fail_info"></span>
                        </font>
                    </div>
                    
                    <div class="hide captcha_info">
                        <font color="red">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                            <span class="fail_info"></span>
                        </font>
                    </div>



                    <button class="register_btn" type="submit">登陆</button>
                </form>

            </div>
            <div class="middle">
                <hr>
                <span>或</span>
                <hr>
            </div>
            <div class="register_other_login">
                <font color="#8c8c8c">没有爱采集账号？</font>
                <a href="/Home/Register">立即注册</a>
                <span>社交账号登录:</span>
                <div class="login_icon">

                    <img src="~/images/QQ.png" class="qqlogin" alt="qq登录" />
                    <img src="~/images/wechat.png" class="right" data-url="http%3A%2F%2Fwww.dahaiyang.com%2Fwechatlogin" alt="微信登录" />
                </div>
            </div>
            <div style="clear: both;"></div>
        </div>
    </div>
</div>

