@charset "utf-8";
/* CSS Document */
* {}
a {text-decoration: none;color: #333;padding:0;margin:0;}
ul {list-style: none;padding:0;margin:0;}
li {list-style: none;padding:0;margin:0;}
ul li {list-style: none;padding:0;margin:0;}
img {border: none;padding:0;margin:0;}
a img{border: none;padding:0;margin:0;}
input,button,select,textarea{outline:none}
textarea{resize:none}
p{padding:0;margin:0;}
body {font-family: Verdana, Arial, Helvetica, sans-serif;line-height: 25px; font-size:12px;color:#333;padding:0;margin:0;background:#FFF;font-family:"微软雅黑";}

.m1,.m2{width:1160px;margin:0px auto;overflow:hidden;clear:both;}
.bg2{background:#f7f7f7; padding:60px 0px;}
.bg3{ background:#6ab512; padding:30px 0px;font-size:18px; color:#FFF; line-height:40px;}

.ctub1{background:url(../images/ctub1.jpg) no-repeat center; color:#FFF; padding:10px 40px; font-size:18px;}
.ctub3{background:url(../images/ctub4.jpg) no-repeat center; color:#6ab512; padding:10px 40px; font-size:18px;}
.ctit1{font-size:36px; line-height:70px;}
.ctit2{font-size:18px; line-height:30px; color:#9fa7ad;}
.m1_nr1,.m1_nr2{ text-align:center;}
.m1_nr2 li{ color:#9fa7ad; font-size:14px; float:left; width:260px; padding:20px 60px;}
.m1_nr2 li p{font-size:18px; line-height:30px; color:#333; padding:10px 0px;}
.ctub2{background:url(../images/ctub2.jpg) no-repeat center; padding:10px 40px;  font-size:14px;color:#FFF;}


.bg4{background:#f7f7f7; height:660px;}
.m2{ height:660px;}

/*专题页面样式*/
.zt_bg1{background:url(../images/zt_top1.png) no-repeat center top; height:337px; text-align:center; color:#FFF;}
.zt_dmbg2{background:url(../images/dm-sz2.jpg) no-repeat center top; height:337px; text-align:center; color:#FFF;margin-bottom: -20px;}
.zt_dmbg3{background:url(../images/banner3.jpg) no-repeat center top; height:337px; text-align:center; color:#FFF;margin-bottom: -20px;}
.zt_dmbg4{background:url(../images/banner4.jpg) no-repeat center top; height:337px; text-align:center; color:#FFF;margin-bottom: -20px;}
.zt_dmbg5{background:url(../images/banner5.jpg) no-repeat center top; height:337px; text-align:center; color:#FFF;margin-bottom: -20px;}
.zt_dmbg6{background:url(../images/banner6.jpg) no-repeat center top; height:337px; text-align:center; color:#FFF;margin-bottom: -20px;}



.zt_p1{ padding:50px 0px 30px 0px;}
.zt_p1 a{font-size:18px; color:#FFF; padding:10px 20px; letter-spacing:3px; border-bottom:1px solid #FFF;}
.zt_p2{ padding:30px 0px; font-size:30px;}
.zt_p3{ text-align:center;background:url(../images/zt_tub5.png) no-repeat center;height:37px; line-height:37px; margin-top:30px;}
.zt_p3 a{ width:122px;  font-size:18px; text-align:center; color:#FFF;}
.zt_bg2{background:url(../images/zt_tub3.jpg) repeat-x bottom; text-align:center;overflow:hidden; clear:both; padding-top:30px;}
.zt_tt1{ margin:0 auto; overflow:hidden; clear:both; width:1150px;}
.zt_tt1 a{ display:block; height:60px; padding:0px 11px; line-height:20px; float:left;background:url(../images/zt_tub1.jpg) no-repeat bottom center; padding-bottom:15px; color:#7e8890;}
.zt_tt1 a:hover{background:url(../images/zt_tub2.jpg) no-repeat bottom center; color:#6ab512;}
.zt_tt1 p{ font-size:14px;}
.zt_tt1 span{ background:#7e8890; color:#FFF; padding:0px 5px;}
.zt_tt2{ text-align:center; color:#666; font-size:14px; padding:30px 0px; line-height:45px; padding-bottom:20px;}
.zt_tt2 p{ font-size:36px;}
.zt_mm{ width:1100px; margin:0 auto; overflow:hidden; clear:both; font-size:16px; }
.zt_nr1,.zt_nr7{ line-height:30px;}
.zt_nr7 p{ padding:8px; }
.zt_nr2{ overflow:hidden; clear:both;}
.zt_nr2 li{ float:left; width:500px; line-height:30px; padding:20px 25px;}
.zt_nr2 li p{ border-bottom:2px solid #dfe1e3; font-size:20px; line-height:50px; padding:5px 0px; padding-left:60px; margin-bottom:15px;}
.zt_nr2 li p a{ font-size:20px;}
.zt_mm2{ width:1100px; margin:0 auto; overflow:hidden; clear:both;}
.zt_nr3{ float:left; width:942px; padding:0px 40px;}
.zt_nr3 li{ height:186px; float:left; width:314px;}
.zt_nr3 li p{ position:relative; margin-top:-50px; height:40px; line-height:20px; padding:0px 10px; color:#FFF;}
.zt_nr3 li a{ color:#FFF;}
.zt_nr3 li a img{
	-webkit-filter: grayscale(100%); 
	-moz-filter: grayscale(100%); 
	-ms-filter: grayscale(100%); 
	-o-filter: grayscale(100%); 
	filter: grayscale(100%); 
	filter: gray;
}
.zt_nr3 li a:hover img{
	-webkit-filter: grayscale(0%); 
	-moz-filter: grayscale(0%); 
	-ms-filter: grayscale(0%); 
	-o-filter: grayscale(0%); 
	filter: grayscale(0%); 
	filter: gray;
}
.zt_bg3{background:#333c4e; height:557px;}
.zt_left{ float:left;height:37px; margin-top:168px; width:37px;}
.zt_right{ float:right; width:37px; margin-top:168px;height:37px;}
.zt_nr4,.zt_nr41{overflow:hidden; clear:both;}
.zt_nr4 li{height:90px; text-align:center; float:left; width:175px; padding:10px 4px;}
.zt_nr41 li{height:90px; text-align:center; float:left; width:149px; padding:10px 4px;}
.zt_nr4 li img{ max-height:90px; max-width:175px;}
.zt_nr41 li img{ max-height:90px; max-width:149px;}
.zt_bg4{overflow:hidden; clear:both; background:#f7f7f7;}
.zt_nr5{ padding:0px 15px}
.zt_nr5 li{overflow:hidden; clear:both; padding:20px 0px 30px 0px;}
.zt_nr5_l{ float:left; width:131px; height:131px;}
.zt_nr5_l img{ width:131px; height:131px;}
.zt_nr5_l p{ position:relative; margin-top:-131px; z-index:2;background:url(../images/zt_tu5.png) no-repeat; width:131px; height:131px;}
.zt_nr5_r{ float:right; width:900px;}
.zt_nr5_r p{ padding:15px 0px;}
.zt_nr6{ float:left; width:965px; padding:0px 20px;}
.zt_nr6 li{ float:left; width:280px; height:210px; padding:20px;}
.zt_nr6,.zt3_nr2,.zt3_nr4,.zt3_nr22{ float:left; width:970px; padding:0px 15px 0px 30px;}
.zt_nr6 li{ float:left; width:280px; height:210px; padding:20px;}
.zt3_nr2 li{ float:left; width:280px; height:330px; padding:20px;overflow:hidden;}
.zt3_t1{ margin-top:10px;}
.zt3_t1 a{ color:#333c4e; font-size:16px;}
.zt3_t2,.zt3_t2 a{ color:#7e848c; font-size:14px; height:25px;overflow:hidden;}
.zt3_t3,.zt3_t3 a{ color:#7e848c; font-size:10px; height:25px;overflow:hidden;}
.zt3_t4 a{ color:#6ab112; font-size:14px;background:url(../images/zt3_tb1.png) no-repeat right center; padding-right:12px; line-height:32px;}
.zt3_nr3{ overflow:hidden; clear:both; padding:10px 0px;}
.zt_bg5{overflow:hidden; clear:both; background:#333b4e;}
.zt3_nr4 li{ float:left; width:280px; height:330px; padding:0px 20px 20px 20px; text-align:center;}
.zt3_t5{ text-align:center;margin-bottom:10px;}
/*.zt3_t5 span{ position:relative; margin-bottom:-123px; height:123px; z-index:10px; display:block;}*/
.zt3_t5 img{max-height:123px;}
.zt3_t6,.zt3_t6 a{ color:#fff; font-size:14px; height:25px;overflow:hidden;}
.zt3_t7,.zt3_t7 a{ color:#fff; font-size:16px; height:25px;overflow:hidden;}
.zt3_t8,.zt3_t8 a{/* text-align:left;*/ color:#7e848c; font-size:12px; line-height:22px; height:60px; margin:15px 0px 25px 0px;overflow:hidden;}
.zt3_t9,.zt3_t11{ text-align:center;background:url(../images/zt3_tb2.png) no-repeat center;width:88px; margin:0 auto; line-height:26px;}
.zt3_t9 a,.zt3_t11 a{text-align:center; color:#FFF;}
.zt3_t11{ float:left; width:88px;}
.zt3_nr2_img{ text-align:center; padding-bottom:10px;height:60px; width:286px;}
.zt3_nr2_img img{ max-width:286px; max-height:60px;}
.zt3_t10,.zt3_t10 a{ color:#6ab112; font-size:18px; height:25px;overflow:hidden; text-align:center;}
.zt3_nr5{overflow:hidden; clear:both; padding:20px; background:#FFF;}
.zt3_nr22 li{ float:left; width:286px; padding:20px 17px 20px 18px;}
.zt3_t12{ margin-top:20px;overflow:hidden;}

#maincontent {height:532px;overflow:hidden;position:relative;}
#maincontent div.pict {cursor: default !important;}
#maincontent div.main {position: static;text-align: center;display: block;cursor: pointer !important}
#maincontent .element {display: none;position: absolute !important;}
#maincontent .left {top :200px;left:10%;cursor: pointer;}
#maincontent .right {top: 200px;right:10%;cursor: pointer;}
#maincontent .main .guardian {display: none;height: 0;}
#maincontent .navi {z-index: 9999999;}
div#maincontent div.main{display:none;}div#maincontent div.element{position:absolute !important;}