
@using WebApplication3.Models;
@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
@{
    foreach (var p in ViewData["datas"] as List<Home>)
    {
        <li>@p.PassWord</li>
    }

}