<div class="wrap-main">
    <div class="container">
        <div class="row wrap-main">
            <div class="col-md-12 col-xs-12 crumb">
                <ol class="breadcrumb">
                    <li><a href="http://www.dahaiyang.com/">首页</a></li>
                    <li class="active">数据超市</li>
                </ol>
            </div>
            <div class="col-md-3 col-xs-3 sidebar">
                <div class="sidebar-cat">
                    <div class="title"><i class="fa fa-lg fa-bars"></i> 全部数据分类</div>
                    <ul>
                        <a href="/cat.html"><li class="current">所有数据 <span>（551）</span></li></a>
                        <a href="/cat-id-11.html"><li>企业信息 <span>（94）</span></li></a>
                        <a href="/cat-id-1.html"><li>科学研究 <span>（17）</span></li></a>
                        <a href="/cat-id-21.html"><li>商业经济 <span>（140）</span></li></a>
                        <a href="/cat-id-76.html"><li>金融财经 <span>（15）</span></li></a>
                        <a href="/cat-id-38.html"><li>产品供求 <span>（39）</span></li></a>
                        <a href="/cat-id-51.html"><li>教育文化 <span>（34）</span></li></a>
                        <a href="/cat-id-61.html"><li>医疗健康 <span>（27）</span></li></a>
                        <a href="/cat-id-64.html"><li>图片信息 <span>（14）</span></li></a>
                        <a href="/cat-id-73.html"><li>文章信息 <span>（107）</span></li></a>
                        <a href="/cat-id-75.html"><li>旅游美食 <span>（11）</span></li></a>
                        <a href="/cat-id-74.html"><li>其他综合 <span>（53）</span></li></a>
                    </ul>
                </div>
                <div class="weixin">
                    扫描上方的二维码关注微信公众号
                </div>
                <div class="slidebar-custom">
                    <div class="title">最新定制</div>
                    <div class="custom-list">
                        <a href="javascript:;">
                            <div class="col-data" title="网站房源信息">
                                <div class="col-title">网站房源信息</div>
                                <div class="time">2018-07-01 21:09:10</div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="sidebar-data hide">
                    <div class="title">最新数据</div>
                    <ul></ul>
                </div>
                <div class="sidebar-data">
                    <div class="title">推荐数据</div>
                    <ul>
                        <li>
                            <a href="/data-id-583.html" title="广东企业信用信息200万">
                                <img src="http://www.dahaiyang.com//Data/data_image/58ddf2141b5e7.jpg" alt="广东企业信用信息200万" class="img-responsive">
                                <div class="data_title"><a href="/data-id-583.html" title="广东企业信用信息200万">广东企业信用信息200万</a></div>
                            </a>
                        </li>
                        <li>
                            <a href="/data-id-582.html" title="北京企业信用信息76万">
                                <img src="http://www.dahaiyang.com//Data/data_image/58ddf24487726.jpg" alt="北京企业信用信息76万" class="img-responsive">
                                <div class="data_title"><a href="/data-id-582.html" title="北京企业信用信息76万">北京企业信用信息76万</a></div>
                            </a>
                        </li>
                        <li>
                            <a href="/data-id-573.html" title="好搜问答关键词数据（私募基金）">
                                <img src="http://www.dahaiyang.com//Data/data_image/58de28d752b21.jpg" alt="好搜问答关键词数据（私募基金）" class="img-responsive">
                                <div class="data_title"><a href="/data-id-573.html" title="好搜问答关键词数据（私募基金）">好搜问答关键词数据（私募基金）</a></div>
                            </a>
                        </li>
                        <li>
                            <a href="/data-id-571.html" title="深圳企业工商信息数据">
                                <img src="http://www.dahaiyang.com//Data/data_image/58ddbd28b6b4f.jpg" alt="深圳企业工商信息数据" class="img-responsive">
                                <div class="data_title"><a href="/data-id-571.html" title="深圳企业工商信息数据">深圳企业工商信息数据</a></div>
                            </a>
                        </li>
                    </ul>
                </div>
                <a href="/custom.html">
                    <div class="slidebar-ad"></div>
                </a>
            </div>
            <script>
	$(function () {
		var settime;
		$(".custom-list").hover(function () {
			clearInterval(settime);
		}, function () {
			settime = setInterval(function () {
				var firstNode = $('.custom-list a');
				firstNode.eq(0).fadeOut('slow',function(){
					$(this).clone().appendTo($(this).parent()).show();
					$(this).remove();
				});
			}, 2000);
		}).trigger("mouseleave");
	});
            </script>
            <div class="col-md-9 col-xs-9 cat-main">
                <div class="cat-head">
                    <div class="search-condition">
                        <div class="price">
                            <div class="title">价格：</div>
                            <div class="tag price-tag">
                                <span class="active" data-value="0">全部</span>
                                <span data-value="1" class="">免费</span>
                                <span data-value="6" class="">面议</span>
                                <span data-value="2" class="">1-99</span>
                                <span data-value="3" class="">100-999</span><span data-value="4" class="">1000-9999</span>
                                <span data-value="5" class="">10000以上</span>
                                <input type="hidden" class="price-hidden" data-value="">
                            </div>
                            <div class="price-input">
                                <input type="text" value="" class="price-min">-<input type="text" value="" class="price-max">
                            </div>
                            <div class="btn">
                                <span class="price-btn">确定</span>
                            </div>
                        </div>
                        <div class="cat hide">
                            <div class="title">类型：</div>
                            <div class="tag cat-tag">
                                <span class="active" data-value="0">全部</span>
                                <span data-value="1" class="">文本</span><span data-value="2" class="">图片</span>
                                <span data-value="3" class="">视频</span><span data-value="4" class="">音频</span>
                                <input type="hidden" class="cat-hidden" data-value="">
                            </div>
                        </div>
                    </div>
                    <div class="sort-box">
                        <ul>
                            <li><a href="/cat-sortby-addtime-sorttype-desc.html" class="">最新 <i class="fa "></i></a>
                            <li class="sep">|</li>
                            <li><a href="/cat-sortby-view_count-sorttype-desc.html" class="">最热 <i class="fa "></i></a>
                            <li class="sep">|</li>
                            <li><a href="/cat-sortby-price-sorttype-desc.html" class="">价格 <i class="fa "></i></a></li>
                        </ul>
                        <div class="result-box">
                            为您找到 <strong>551</strong> 条数据
                        </div>
                    </div>
                </div>
                <div class="data-box">
                    <ul class="data-list">
                        <li class="data-list-item">
                            <div class="row">
                                <div class="col-md-4 col-xs-4">
                                    <div class="thumb">
                                        <a href="/data-id-179.html" title="全国企业信用系统网站企业数据4100万"><img src="http://www.dahaiyang.com//Data/data_image/58ddbe6b70a11.jpg" alt="全国企业信用系统网站企业数据4100万" class="img-responsive"></a>
                                    </div>
                                    <div class="best"></div>
                                </div>
                                <div class="col-md-8 col-xs-8">
                                    <div class="summary">
                                        <div class="title">
                                            <a href="/data-id-179.html" target="_blank" title="全国企业信用系统网站企业数据4100万">全国企业信用系统网站企业数据4100万</a>
                                            <div class="data-price">
                                                <strong>面议</strong>
                                            </div>
                                        </div>
                                        <div class="desc">
                                            数据说明数据简介本数据抓取整理自全国企业信用系统网站，4100万家企业的基本信息数据。数据数量4100万条数据更新周期每天更新主要记录字段ProvinceCode：省份RegisterNum：注册号C..
                                        </div>
                                        <div class="data-info">
                                            <div class="pull-left">
                                                <span>数据条数: 41,000,000</span>&nbsp;&nbsp;&nbsp;&nbsp;
                                                <span>数据时间: 2016-07-06 09:16:17</span>
                                            </div>
                                            <div class="pull-right">
                                                <span><i class="fa fa-eye"></i> 12071</span>&nbsp;&nbsp;&nbsp;&nbsp;
                                                <span><i class="fa fa-download"></i> 1727</span>
                                            </div>
                                        </div>
                                        <div class="data-btn">
                                            <a href="/data-id-179.html" class="data-button diy" target="_blank"><div class="shine"></div>查看详情</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="data-list-item">
                            <div class="row">
                                <div class="col-md-4 col-xs-4">
                                    <div class="thumb">
                                        <a href="/data-id-195.html" title="760万阿里巴巴网站公司黄页数据（包含联系电话）"><img src="http://www.dahaiyang.com//Data/data_image/58ddb5022d6cf.jpg" alt="760万阿里巴巴网站公司黄页数据（包含联系电话）" class="img-responsive"></a>
                                    </div>
                                    <div class="best"></div>
                                </div>
                                <div class="col-md-8 col-xs-8">
                                    <div class="summary">
                                        <div class="title">
                                            <a href="/data-id-195.html" target="_blank" title="760万阿里巴巴网站公司黄页数据（包含联系电话）">760万阿里巴巴网站公司黄页数据（包含联</a>
                                            <div class="data-price">
                                                <strong><i class="fa fa-cny"></i> 4,800</strong>
                                            </div>
                                        </div>
                                        <div class="desc">
                                            数据说明数据简介本数据为阿里巴巴网站各类公司的黄页信息数据，非常详细地记载了企业的名称，地址，电话等具体信息。数据数量760万条数据采集时间2013年主要记录字段corp：企业名称name：联系人te..
                                        </div>
                                        <div class="data-info">
                                            <div class="pull-left">
                                                <span>数据条数: 7,600,000</span>&nbsp;&nbsp;&nbsp;&nbsp;
                                                <span>数据时间: 2015-12-21 13:08:41</span>
                                            </div>
                                            <div class="pull-right">
                                                <span><i class="fa fa-eye"></i> 14113</span>&nbsp;&nbsp;&nbsp;&nbsp;
                                                <span><i class="fa fa-download"></i> 1852</span>
                                            </div>
                                        </div>
                                        <div class="data-btn">
                                            <a href="/data-id-195.html" class="data-button diy" target="_blank"><div class="shine"></div>查看详情</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="data-list-item">
                            <div class="row">
                                <div class="col-md-4 col-xs-4">
                                    <div class="thumb">
                                        <a href="/data-id-562.html" title="全国知名房地产企业（保利、富力、恒大、华润等）大地块出让数据"><img src="http://www.dahaiyang.com//Data/data_image/5657c82b8a0f9.jpg" alt="全国知名房地产企业（保利、富力、恒大、华润等）大地块出让数据" class="img-responsive"></a>
                                    </div>
                                </div>
                                <div class="col-md-8 col-xs-8">
                                    <div class="summary">
                                        <div class="title">
                                            <a href="/data-id-562.html" target="_blank" title="全国知名房地产企业（保利、富力、恒大、华润等）大地块出让数据">全国知名房地产企业（保利、富力、恒大、华</a>
                                            <div class="data-price">
                                                <strong><i class="fa fa-cny"></i> 10</strong>
                                            </div>
                                        </div>
                                        <div class="desc">
                                            数据说明数据简介全国知名房地产企业（保利、富力、恒大、华润等）大地块出让数据，覆盖出让地块的面积、位置，价格等详细信息。数据数量282条/109K数据采集时间2015年11月主要记录字段Adminis..
                                        </div>
                                        <div class="data-info">
                                            <div class="pull-left">
                                                <span>数据条数: 253</span>&nbsp;&nbsp;&nbsp;&nbsp;
                                                <span>数据时间: 2017-10-17 10:11:23</span>
                                            </div>
                                            <div class="pull-right">
                                                <span><i class="fa fa-eye"></i> 515</span>&nbsp;&nbsp;&nbsp;&nbsp;
                                                <span><i class="fa fa-download"></i> 380</span>
                                            </div>
                                        </div>
                                        <div class="data-btn">
                                            <a href="/data-id-562.html" class="data-button diy" target="_blank"><div class="shine"></div>查看详情</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="data-list-item">
                            <div class="row">
                                <div class="col-md-4 col-xs-4">
                                    <div class="thumb">
                                        <a href="/data-id-88.html" title="携程网全国景点库"><img src="http://www.dahaiyang.com//Data/data_image/58de2d0e54e44.jpg" alt="携程网全国景点库" class="img-responsive"></a>
                                    </div>
                                </div>
                                <div class="col-md-8 col-xs-8">
                                    <div class="summary">
                                        <div class="title">
                                            <a href="/data-id-88.html" target="_blank" title="携程网全国景点库">携程网全国景点库</a>
                                            <div class="data-price">
                                                <strong><i class="fa fa-cny"></i> 1,500</strong>
                                            </div>
                                        </div>
                                        <div class="desc">
                                            本数据是基于携程网站所示数据抓取汇总而来，全面记录了全国各地的旅游景点信息，数据字段为景点名称、所在城市、景点地图、景点简介、景点类型、景点等级、景点图片、电话、评分、门票信息等数据项。
                                        </div>
                                        <div class="data-info">
                                            <div class="pull-left">
                                                <span>数据条数: 40,000</span>&nbsp;&nbsp;&nbsp;&nbsp;
                                                <span>数据时间: 2017-05-02 16:40:29</span>
                                            </div>
                                            <div class="pull-right">
                                                <span><i class="fa fa-eye"></i> 637</span>&nbsp;&nbsp;&nbsp;&nbsp;
                                                <span><i class="fa fa-download"></i> 0</span>
                                            </div>
                                        </div>
                                        <div class="data-btn">
                                            <a href="/data-id-88.html" class="data-button diy" target="_blank"><div class="shine"></div>查看详情</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="data-list-item">
                            <div class="row">
                                <div class="col-md-4 col-xs-4">
                                    <div class="thumb">
                                        <a href="/data-id-576.html" title="全国渔具公司数据"><img src="http://www.dahaiyang.com//Data/data_image/58ddfbfecd87a.jpg" alt="全国渔具公司数据" class="img-responsive"></a>
                                    </div>
                                </div>
                                <div class="col-md-8 col-xs-8">
                                    <div class="summary">
                                        <div class="title">
                                            <a href="/data-id-576.html" target="_blank" title="全国渔具公司数据">全国渔具公司数据</a>
                                            <div class="data-price">
                                                <strong><i class="fa fa-cny"></i> 800</strong>
                                            </div>
                                        </div>
                                        <div class="desc">
                                            数据说明数据简介全国渔具公司数据，覆盖全国31个省及直辖市各地区的渔具经营公司信息，数据包含渔具公司的店铺名称和地址，联系人及联系方式等详细信息。数据数量-数据采集时间2015年12月主要记录字段店铺..
                                        </div>
                                        <div class="data-info">
                                            <div class="pull-left">
                                                <span>数据条数: 14,000</span>&nbsp;&nbsp;&nbsp;&nbsp;
                                                <span>数据时间: 2017-05-02 16:32:47</span>
                                            </div>
                                            <div class="pull-right">
                                                <span><i class="fa fa-eye"></i> 588</span>&nbsp;&nbsp;&nbsp;&nbsp;
                                                <span><i class="fa fa-download"></i> 575</span>
                                            </div>
                                        </div>
                                        <div class="data-btn">
                                            <a href="/data-id-576.html" class="data-button diy" target="_blank"><div class="shine"></div>查看详情</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="data-list-item">
                            <div class="row">
                                <div class="col-md-4 col-xs-4">
                                    <div class="thumb">
                                        <a href="/data-id-252.html" title="携程网世界酒店数据"><img src="http://www.dahaiyang.com//Data/data_image/562ae9a8b7ef5.jpg" alt="携程网世界酒店数据" class="img-responsive"></a>
                                    </div>
                                </div>
                                <div class="col-md-8 col-xs-8">
                                    <div class="summary">
                                        <div class="title">
                                            <a href="/data-id-252.html" target="_blank" title="携程网世界酒店数据">携程网世界酒店数据</a>
                                            <div class="data-price">
                                                <strong><i class="fa fa-cny"></i> 3,500</strong>
                                            </div>
                                        </div>
                                        <div class="desc">
                                            数据说明数据简介携程网世界酒店数据，覆盖全世界各大城市的酒店名称、地址、信息，数据数量-数据采集时间2016年7月记录字段酒店名、酒店英文名、星级、城市、区、详细地址、附近、价格、酒店介绍、联系方式、..
                                        </div>
                                        <div class="data-info">
                                            <div class="pull-left">
                                                <span>数据条数: 450,000</span>&nbsp;&nbsp;&nbsp;&nbsp;
                                                <span>数据时间: 2017-04-26 15:31:15</span>
                                            </div>
                                            <div class="pull-right">
                                                <span><i class="fa fa-eye"></i> 1473</span>&nbsp;&nbsp;&nbsp;&nbsp;
                                                <span><i class="fa fa-download"></i> 693</span>
                                            </div>
                                        </div>
                                        <div class="data-btn">
                                            <a href="/data-id-252.html" class="data-button diy" target="_blank"><div class="shine"></div>查看详情</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="data-list-item">
                            <div class="row">
                                <div class="col-md-4 col-xs-4">
                                    <div class="thumb">
                                        <a href="/data-id-490.html" title="中国制造业采购经理指数(PMI)数据"><img src="http://www.dahaiyang.com//Data/data_image/564d76215eb94.jpg" alt="中国制造业采购经理指数(PMI)数据" class="img-responsive"></a>
                                    </div>
                                </div>
                                <div class="col-md-8 col-xs-8">
                                    <div class="summary">
                                        <div class="title">
                                            <a href="/data-id-490.html" target="_blank" title="中国制造业采购经理指数(PMI)数据">中国制造业采购经理指数(PMI)数据</a>
                                            <div class="data-price">
                                                <strong>面议</strong>
                                            </div>
                                        </div>
                                        <div class="desc">
                                            数据说明数据简介2005年到2014年8月中国制造业采购经理指数(PMI)数据，数据包括每个月的新订单、生成、从业人员，供应商配送时间， 原材料库存五大扩散指数及其他基本数据。数据数量-数据采集时间-..
                                        </div>
                                        <div class="data-info">
                                            <div class="pull-left">
                                                <span>数据条数: -</span>&nbsp;&nbsp;&nbsp;&nbsp;
                                                <span>数据时间: 2017-03-03 16:30:21</span>
                                            </div>
                                            <div class="pull-right">
                                                <span><i class="fa fa-eye"></i> 664</span>&nbsp;&nbsp;&nbsp;&nbsp;
                                                <span><i class="fa fa-download"></i> 511</span>
                                            </div>
                                        </div>
                                        <div class="data-btn">
                                            <a href="/data-id-490.html" class="data-button diy" target="_blank"><div class="shine"></div>查看详情</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="data-list-item">
                            <div class="row">
                                <div class="col-md-4 col-xs-4">
                                    <div class="thumb">
                                        <a href="/data-id-417.html" title="步步扣数据库技术文章数据"><img src="http://www.dahaiyang.com//Data/data_image/5644451406794.jpg" alt="步步扣数据库技术文章数据" class="img-responsive"></a>
                                    </div>
                                </div>
                                <div class="col-md-8 col-xs-8">
                                    <div class="summary">
                                        <div class="title">
                                            <a href="/data-id-417.html" target="_blank" title="步步扣数据库技术文章数据">步步扣数据库技术文章数据</a>
                                            <div class="data-price">
                                                <strong><i class="fa fa-cny"></i> 980</strong>
                                            </div>
                                        </div>
                                        <div class="desc">
                                            数据说明数据简介汇总自步步扣网的数据库技术文章数据，包含技术文章的教程名称以及内容。数据数量12万条数据采集时间2015年11月主要记录字段教程名称、内容，PageUrl。数据格式csv应用领域应用领..
                                        </div>
                                        <div class="data-info">
                                            <div class="pull-left">
                                                <span>数据条数: 120,000</span>&nbsp;&nbsp;&nbsp;&nbsp;
                                                <span>数据时间: 2017-02-24 17:14:10</span>
                                            </div>
                                            <div class="pull-right">
                                                <span><i class="fa fa-eye"></i> 745</span>&nbsp;&nbsp;&nbsp;&nbsp;
                                                <span><i class="fa fa-download"></i> 578</span>
                                            </div>
                                        </div>
                                        <div class="data-btn">
                                            <a href="/data-id-417.html" class="data-button diy" target="_blank"><div class="shine"></div>查看详情</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="data-list-item">
                            <div class="row">
                                <div class="col-md-4 col-xs-4">
                                    <div class="thumb">
                                        <a href="/data-id-438.html" title="全国行业信用评价数据"><img src="http://www.dahaiyang.com//Data/data_image/56497b9c5f121.jpg" alt="全国行业信用评价数据" class="img-responsive"></a>
                                    </div>
                                </div>
                                <div class="col-md-8 col-xs-8">
                                    <div class="summary">
                                        <div class="title">
                                            <a href="/data-id-438.html" target="_blank" title="全国行业信用评价数据">全国行业信用评价数据</a>
                                            <div class="data-price">
                                                <strong><i class="fa fa-cny"></i> 200</strong>
                                            </div>
                                        </div>
                                        <div class="desc">
                                            数据说明数据简介全国行业信用评价数据，包含企业名称、信用等级等详细内容。数据数量20000条数据采集时间2015年11月主要记录字段企业名称、信用等级、证书编号、颁发日期，有效期至。数据格式csv应用..
                                        </div>
                                        <div class="data-info">
                                            <div class="pull-left">
                                                <span>数据条数: 20,000</span>&nbsp;&nbsp;&nbsp;&nbsp;
                                                <span>数据时间: 2017-02-24 16:38:16</span>
                                            </div>
                                            <div class="pull-right">
                                                <span><i class="fa fa-eye"></i> 339</span>&nbsp;&nbsp;&nbsp;&nbsp;
                                                <span><i class="fa fa-download"></i> 409</span>
                                            </div>
                                        </div>
                                        <div class="data-btn">
                                            <a href="/data-id-438.html" class="data-button diy" target="_blank"><div class="shine"></div>查看详情</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="data-list-item">
                            <div class="row">
                                <div class="col-md-4 col-xs-4">
                                    <div class="thumb">
                                        <a href="/data-id-87.html" title="超级作文网作文库数据"><img src="http://www.dahaiyang.com//Data/data_image/58ddca31aa7c2.jpg" alt="超级作文网作文库数据" class="img-responsive"></a>
                                    </div>
                                </div>
                                <div class="col-md-8 col-xs-8">
                                    <div class="summary">
                                        <div class="title">
                                            <a href="/data-id-87.html" target="_blank" title="超级作文网作文库数据">超级作文网作文库数据</a>
                                            <div class="data-price">
                                                <strong><i class="fa fa-cny"></i> 300</strong>
                                            </div>
                                        </div>
                                        <div class="desc">
                                            本数据包含其站内的小学、初中、高中、话题等所有类目下的共计130000条作文数据，抓取字段为作文类目、作文标题、作文标签、作文正文，发布时间。
                                        </div>
                                        <div class="data-info">
                                            <div class="pull-left">
                                                <span>数据条数: 130,000</span>&nbsp;&nbsp;&nbsp;&nbsp;
                                                <span>数据时间: 2017-02-17 15:04:28</span>
                                            </div>
                                            <div class="pull-right">
                                                <span><i class="fa fa-eye"></i> 1040</span>&nbsp;&nbsp;&nbsp;&nbsp;
                                                <span><i class="fa fa-download"></i> 0</span>
                                            </div>
                                        </div>
                                        <div class="data-btn">
                                            <a href="/data-id-87.html" class="data-button diy" target="_blank"><div class="shine"></div>查看详情</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="data-list-item">
                            <div class="row">
                                <div class="col-md-4 col-xs-4">
                                    <div class="thumb">
                                        <a href="/data-id-140.html" title="全国运动休闲类企业数据"><img src="http://www.dahaiyang.com//Data/data_image/58ddcaba07d3b.jpg" alt="全国运动休闲类企业数据" class="img-responsive"></a>
                                    </div>
                                </div>
                                <div class="col-md-8 col-xs-8">
                                    <div class="summary">
                                        <div class="title">
                                            <a href="/data-id-140.html" target="_blank" title="全国运动休闲类企业数据">全国运动休闲类企业数据</a>
                                            <div class="data-price">
                                                <strong><i class="fa fa-cny"></i> 150</strong>
                                            </div>
                                        </div>
                                        <div class="desc">
                                            数据说明数据简介本数据抓取汇总了全国共计5万家运动休闲类企业信息，包含企业名称、企业地址、主营产品等详细内容。数据数量2219条数据采集时间2015年7月主要记录字段企业名称、企业地址、电话、联系人、..
                                        </div>
                                        <div class="data-info">
                                            <div class="pull-left">
                                                <span>数据条数: 2,219</span>&nbsp;&nbsp;&nbsp;&nbsp;
                                                <span>数据时间: 2017-02-17 11:22:35</span>
                                            </div>
                                            <div class="pull-right">
                                                <span><i class="fa fa-eye"></i> 386</span>&nbsp;&nbsp;&nbsp;&nbsp;
                                                <span><i class="fa fa-download"></i> 402</span>
                                            </div>
                                        </div>
                                        <div class="data-btn">
                                            <a href="/data-id-140.html" class="data-button diy" target="_blank"><div class="shine"></div>查看详情</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="data-list-item">
                            <div class="row">
                                <div class="col-md-4 col-xs-4">
                                    <div class="thumb">
                                        <a href="/data-id-141.html" title="企领网产品库数据"><img src="http://www.dahaiyang.com//Data/data_image/58ddcee2e4420.jpg" alt="企领网产品库数据" class="img-responsive"></a>
                                    </div>
                                </div>
                                <div class="col-md-8 col-xs-8">
                                    <div class="summary">
                                        <div class="title">
                                            <a href="/data-id-141.html" target="_blank" title="企领网产品库数据">企领网产品库数据</a>
                                            <div class="data-price">
                                                <strong>面议</strong>
                                            </div>
                                        </div>
                                        <div class="desc">
                                            本数据抓取汇总了企领网所有产品类目下的共计134万种产品信息数据，数据字段包含产品分类，产品名称、型号、原产地、供货数量、品牌、价格、供货商信息、地址、联系人、邮箱，联系电话。
                                        </div>
                                        <div class="data-info">
                                            <div class="pull-left">
                                                <span>数据条数: -</span>&nbsp;&nbsp;&nbsp;&nbsp;
                                                <span>数据时间: 2017-02-17 11:15:35</span>
                                            </div>
                                            <div class="pull-right">
                                                <span><i class="fa fa-eye"></i> 552</span>&nbsp;&nbsp;&nbsp;&nbsp;
                                                <span><i class="fa fa-download"></i> 0</span>
                                            </div>
                                        </div>
                                        <div class="data-btn">
                                            <a href="/data-id-141.html" class="data-button diy" target="_blank"><div class="shine"></div>查看详情</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="load-more-box text-center" style="margin-top: 10px;">
                    <button class="load-more btn btn-info">加载更多</button>
                </div> <div class="page-box text-center hide">
                    <nav>
                        <ul class="pagination">
                            <li>
                                <a href="" aria-label="Previous">
                                    <span aria-hidden="true">首页</span>
                                </a>
                            </li>
                            <li>
                                <a href="" aria-label="Previous">
                                    <span aria-hidden="true">上一页</span>
                                </a>
                            </li>
                            <li class="active"><a href="javascript:void(0);">1</a></li>
                            <li><a href="/Index-data_cat-p-2.html">2</a></li>
                            <li><a href="/Index-data_cat-p-3.html">3</a></li>
                            <li><a href="/Index-data_cat-p-4.html">4</a></li>
                            <li><a href="/Index-data_cat-p-5.html">5</a></li>
                            <li><a href="/Index-data_cat-p-6.html">6</a></li>
                            <li><a href="/Index-data_cat-p-7.html">7</a></li>
                            <li><a href="/Index-data_cat-p-8.html">8</a></li>
                            <li><a href="/Index-data_cat-p-9.html">9</a></li>
                            <li><a href="/Index-data_cat-p-10.html">10</a></li>
                            <li><a href="/Index-data_cat-p-11.html">11</a></li>
                            <li>
                                <a href="/Index-data_cat-p-2.html" aria-label="Previous" id="next-page">
                                    <span aria-hidden="true">下一页</span>
                                </a>
                            </li>
                            <li>
                                <a href="" aria-label="Previous">
                                    <span aria-hidden="true">尾页</span>
                                </a>
                            </li>
                            <li class="disabled"><a href="javascript:void(0);">共 551 条</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

