html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

html {
    line-height: 1;
}

body {
    font-family: 'Helvetica Neue','Hiragino Sans GB','WenQuanYi Micro Hei','Microsoft Yahei',sans-serif;
}

ol, ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption, th, td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}

q, blockquote {
    quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none;
}

a img {
    border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .container {
        width: 100%;
    }
}

@media (min-width: 992px) {
    .container {
        width: 1003px;
    }
}

.container {
    padding: 0;
}

.hide {
    display: none;
}

a {
    outline: 0 none !important;
    blr: expression(this.onFocus=this.blur());
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.icon {
    display: inline-block;
}

.icon-user {
    width: 12px;
    height: 12px;
    background: url("../images/user.png") center center no-repeat;
    background-size: 12px 12px;
    margin-right: 5px;
}

.icon-user-black {
    width: 12px;
    height: 12px;
    background: url("../images/user-black.png") center center no-repeat;
    margin-right: 5px;
}

.icon-comment {
    width: 14px;
    height: 14px;
    background: url("../images/comment.png") center center no-repeat;
    margin-right: 2px;
}

.icon-view {
    width: 14px;
    height: 14px;
    background: url("../images/view.png") center center no-repeat;
    margin-right: 5px;
}

.wrap-nav {
    box-shadow: 0px 0px 5px #c1bebd;
}

.nav-bar {
    width: 100%;
    min-width: 780px;
    height: 76px;
    margin: 0 auto;
    clear: both;
    font-size: 14px;
}

.navbar-fixed-top {
    position: fixed;
}

.navbar .scrolled.scrolled-shadow {
    box-shadow: 0 0 10px rgba(0,0,0,.1);
}

.navbar.scrolled {
    background: rgba(0,0,0,.7);
}

.scrolled-white {
    background: hsla(0,0%,100%,.9);
}

.nav-bar a {
    color: #333;
}

.nav-bar .index-logo {
    padding-top: 11px;
    float: left;
}

.nav-bar .index-nav {
    display: inline-block;
    margin-left: 283px;
    padding-top: 15px;
}

.nav-bar .index-nav li {
    float: left;
}

.nav-bar .index-nav li a {
    display: block;
    height: 46px;
    line-height: 46px;
    padding: 0 20px;
}

.nav-bar .index-nav li a.active {
    color: #4fb1f7;
}

.nav-bar .nav-btn {
    width: 118px;
    height: 35px; /*�޸ı��*/
    float: right;
    background-color: #4fb1f7;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    margin-top: 22px;
    text-align: center;
    line-height: 35px;
    color: #fff;
}

.nav-bar .nav-btn a {
    color: #fff;
}

.nav-bar .nav-btn span {
    margin: 0 5px;
}

.nav-bar .login-btn {
    width: 168px;
    height: 35px;
    margin-top: 22px;
    float: right;
    text-align: center;
    line-height: 30px;
    color: #e3e3e3;
    overflow: hidden;
}

.nav-bar .login-btn a {
    display: inline-block;
}

.navbar {
    margin-bottom: 0;
}

@media (min-width: 992px) {
    .nav-bar {
        max-width: 1130px;
    }
}

@media (min-width: 768px) {
    .nav-bar {
        min-width: 816px;
    }

    .nav-bar .index-nav {
        margin-left: 0;
        float: right;
    }
}

.wrap-download {
    width: 100%;
    height: 288px;
    background-color: #f8f8f8;
}

.wrap-download .download-title {
    text-align: center;
    font-size: 38px;
    color: #333;
    padding-top: 78px;
}

.wrap-download .download-btns {
    text-align: center;
    padding-top: 40px;
}

.wrap-download .download-btns a {
    width: 214px;
    height: 55px;
    background: #fff;
    border: 1px solid #4fb1f7;
    display: inline-block;
    line-height: 55px;
    color: #4fb1f7;
    font-size: 18px;
}

.wrap-download .download-btns a.download-btn-v2 {
    background-color: #4fb1f7;
    color: #fff;
    margin-left: 12px;
}

@media (max-width: 768px) {
    .wrap-download {
        background-size: 80%;
        height: auto;
        padding-bottom: 20px;
    }

    .wrap-download .download-btns a.download-btn-v2 {
        margin-top: 10px;
        margin-left: 0;
    }
}

.wrap-footer {
    background-color: #fff;
    color: #808080;
    font-size: 14px;
}

.wrap-footer .site-link {
    height: 242px;
    width: 100%;
    padding: 30px 0 0 175px;
    clear: both;
    overflow: hidden;
}

.wrap-footer .site-link h2 {
    color: #666;
    font-size: 16px;
    padding-bottom: 18px;
}

.wrap-footer .site-link ul {
    width: 170px;
    float: left;
}

.wrap-footer .site-link ul li {
    margin-bottom: 20px;
}

.wrap-footer .site-link ul li a {
    color: #808080;
}

.wrap-footer .friend-link {
    padding: 10px 0 0 175px;
}

.friend-link ul {
    display: flex;
    flex-wrap: wrap;
}

.friend-link ul li {
    line-height: 25px;
    padding-right: 30px;
}

.friend-link h2 {
    color: #666;
    font-size: 16px;
    padding-bottom: 15px;
}

.friend-link ul li a {
    color: #808080;
    font-size: 13px;
}

.wrap-footer .site-copyright {
    text-align: center;
    width: 100%;
    height: 80px;
    border-top: 1px solid #e5e5e5;
    padding-top: 17px;
}

@media (min-width: 768px) {
    .wrap-footer .site-link {
        height: auto;
        padding: 15px 30px;
    }

    .wrap-footer .site-link ul {
        margin-bottom: 20px;
    }

    .wrap-footer .friend-link {
        height: auto;
        padding: 15px 30px;
    }

    .wrap-footer .friend-link ul {
        margin-bottom: 20px;
    }
}

@media (min-width: 992px) {
    .wrap-footer .site-link {
        height: 242px;
        padding: 30px 0 0 175px;
    }

    .wrap-footer .site-link ul {
        margin-bottom: 0;
    }

    .wrap-footer .friend-link {
        padding: 10px 0 0 175px;
    }

    .wrap-footer .friend-link ul {
        margin-bottom: 10px;
    }
}

@media (max-width: 768px) {
    .wrap-footer .site-link {
        height: auto;
        padding: 15px 30px;
    }

    .wrap-footer .site-link ul {
        width: 50%;
        margin-bottom: 20px;
    }

    .wrap-footer .site-link ul li {
        padding-left: 20%;
    }

    .wrap-footer .friend-link {
        height: auto;
        padding: 15px 30px;
    }

    .wrap-footer .friend-link ul {
        width: 50%;
        margin-bottom: 20px;
    }

    .wrap-footer .friend-link ul li {
        padding-left: 20%;
    }
}

.wrap-index-header {
    width: 100%;
    height: 930px;
    background: #fff url("../images/bg-intro.jpg") no-repeat 0 0;
    background-size: 100% 100%;
    overflow: hidden;
}

.wrap-index-header .nav-bar a {
    color: #e3e3e3;
}

.wrap-index-header .nav-bar .nav-btn {
    border: 1px solid #e3e3e3;
    background-color: inherit;
    color: #e3e3e3;
}

.wrap-index-header .nav-bar .login-btn {
    width: 168px;
    height: 35px;
    margin-top: 22px;
    float: right;
    text-align: center;
    line-height: 30px;
    color: #e3e3e3;
    overflow: hidden;
}

.wrap-index-header .nav-bar .login-btn a {
    display: inline-block;
}

.wrap-index-header .index-container {
    padding-top: 114px;
}

.wrap-index-header .index-container .banner-title {
    width: 653px;
    height: 65px;
    background: url("../images/banner-title.png") no-repeat center center;
    margin: 0 auto;
}

.wrap-index-header .index-container .banner-intro {
    width: 553px;
    height: 26px;
    margin: 44px auto 0;
    color: #cecece;
    font-size: 20px;
    text-align: center;
}

.wrap-index-header .index-container .banner-intro span {
    display: inline-block;
    border-left: 2px solid #6a6f71;
    padding: 0 12px 0 12px;
}

.wrap-index-header .index-container .banner-intro span:last-child {
    border-right: 2px solid #6a6f71;
}

.wrap-index-header .index-container .dowload-btn a {
    width: 192px;
    height: 59px;
    line-height: 59px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    background-color: #4fb1f7;
    display: block;
    margin: 57px auto 36px;
}

.wrap-index-header .index-container .banner-bg {
    width: 762px;
    height: 454px;
    background: url("../images/banner-bg.png") no-repeat 0 0;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .wrap-index-header {
        height: auto;
    }

    .wrap-index-header .index-container {
        padding-top: 30px;
    }

    .wrap-index-header .index-container .banner-title {
        width: 100%;
        background-size: 80%;
    }

    .wrap-index-header .index-container .banner-intro {
        width: 100%;
        background-size: 80%;
        margin: 0 auto;
    }

    .wrap-index-header .index-container .dowload-btn a {
        width: 40%;
        height: 40px;
        line-height: 40px;
    }

    .wrap-index-header .index-container .banner-bg {
        display: none;
    }
}

.wrap-index-process .container {
    padding-top: 75px;
    height: 600px;
    border-bottom: 1.5px dashed #ececec;
    background: #fff url("../images/process-bg.png") 550px 234px no-repeat;
}

.wrap-index-process h2 {
    font-size: 38px;
    color: #333;
    text-align: center;
}

.wrap-index-process h3 {
    font-size: 16px;
    color: #808080;
    text-align: center;
    margin-top: 22px;
    margin-bottom: 12px;
}

.wrap-index-process .process-list {
    width: 390px;
    height: 374px;
    background: url("../images/process-list-bg.png") 0 0 no-repeat;
    padding-left: 42px;
    margin-left: 65px;
}

.wrap-index-process .process-list h4 {
    font-size: 16px;
    color: #333;
}

.wrap-index-process .process-list ul li {
    font-size: 14px;
    color: #808080;
    line-height: 30px;
}

.wrap-index-process .process-list ul:first-child {
    margin-bottom: 40px;
}

.wrap-index-process .process-list ul:last-child {
    margin-top: 58px;
}

@media (max-width: 768px) {
    .wrap-index-process .process-list {
        padding-left: 22px;
        margin-left: 15px;
    }
}

.wrap-index-feature .container {
    padding-top: 47px;
    height: 600px;
    border-bottom: 1.5px dashed #ececec;
}

.wrap-index-feature .container h2 {
    font-size: 38px;
    color: #333;
    text-align: center;
}

.wrap-index-feature .container h3 {
    font-size: 16px;
    color: #808080;
    text-align: center;
    margin-top: 22px;
    margin-bottom: 12px;
}

.wrap-index-feature .container ul {
    margin: 55px 0 0 -18px;
}

.wrap-index-feature .container ul li {
    width: 322px;
    height: 336px;
    border: 1px solid #ddd;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    float: left;
    text-align: center;
    font-size: 14px;
    color: #808080;
    padding-top: 180px;
    margin-left: 18px;
}

.wrap-index-feature .container ul li h4 {
    font-size: 18px;
    color: #333;
    margin-bottom: 38px;
}

.wrap-index-feature .container ul li .intro {
    line-height: 30px;
}

.wrap-index-feature .container ul li:first-child {
    background: url("../images/feature-first.png") center 48px no-repeat;
}

.wrap-index-feature .container ul li:last-child {
    background: url("../images/feature-third.png") center 48px no-repeat;
}

.wrap-index-feature .container ul li:nth-child(2) {
    background: url("../images/feature-second.png") center 48px no-repeat;
}

.wrap-index-feature .container ul li:hover {
    border-color: #4fb1f7;
}

.wrap-index-feature .container ul li:hover:first-child {
    background: url("../images/feature-first-hover.png") center 48px no-repeat;
}

.wrap-index-feature .container ul li:hover:last-child {
    background: url("../images/feature-third-hover.png") center 48px no-repeat;
}

.wrap-index-feature .container ul li:hover:nth-child(2) {
    background: url("../images/feature-second-hover.png") center 48px no-repeat;
}

@media (min-width: 768px) {
    .wrap-index-feature .container {
        height: auto;
        padding-bottom: 60px;
    }

    .wrap-index-feature .container h3 {
        margin-bottom: 30px;
    }

    .wrap-index-feature .container ul {
        margin: 0 auto;
    }

    .wrap-index-feature .container ul li {
        margin-bottom: 20px;
    }
}

@media (min-width: 992px) {
    .wrap-index-feature .container {
        height: 600px;
        padding-bottom: 0;
    }

    .wrap-index-feature .container h3 {
        margin-bottom: 12px;
    }

    .wrap-index-feature .container ul {
        margin: 55px 0 0 -18px;
    }

    .wrap-index-feature .container ul li {
        margin-bottom: 0;
    }
}

@media (max-width: 768px) {
    .wrap-index-feature .container {
        height: auto;
        padding-bottom: 60px;
    }

    .wrap-index-feature .container ul li {
        float: none;
        margin: 0 auto 10px;
    }
}

.wrap-index-news .container {
    height: 386px;
    clear: both;
    padding-top: 60px;
}

.wrap-index-news .container ul {
    width: 450px;
}

.wrap-index-news .container ul:first-child {
    float: left;
}

.wrap-index-news .container ul:last-child {
    float: right;
}

.wrap-index-news .container ul li {
    position: relative;
    height: 50px;
    padding: 18px 0 0 12px;
}

.wrap-index-news .container ul li h2 {
    font-size: 38px;
    color: #333;
}

.wrap-index-news .container ul li:first-child {
    padding-top: 0;
}

.wrap-index-news .container ul li:nth-child(2) {
    border-bottom: 1px solid #e3e3e3;
}

.wrap-index-news .container ul li:nth-child(3) {
    border-bottom: 1px solid #e3e3e3;
}

.wrap-index-news .container ul li:nth-child(4) {
    border-bottom: 1px solid #e3e3e3;
}

.wrap-index-news .container ul li:nth-child(5) {
    border-bottom: 1px solid #e3e3e3;
}

.wrap-index-news .container ul li a {
    font-size: 14px;
    color: #808080;
}

.wrap-index-news .container ul li a:hover {
    color: #4fb1f7;
}

.wrap-index-news .container ul li .title {
    float: left;
    max-width: 310px;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.wrap-index-news .container ul li .time {
    float: right;
}

@media (min-width: 768px) {
    .wrap-index-news .container {
        height: auto;
        padding-top: 20px;
    }

    .wrap-index-news .container ul {
        margin: 0 auto;
    }

    .wrap-index-news .container ul:first-child {
        float: none;
    }

    .wrap-index-news .container ul:last-child {
        float: none;
    }
}

@media (min-width: 992px) {
    .wrap-index-news .container {
        height: 386px;
        padding-top: 60px;
    }

    .wrap-index-news .container ul {
        margin: 0 auto;
    }

    .wrap-index-news .container ul:first-child {
        float: left;
    }

    .wrap-index-news .container ul:last-child {
        float: right;
    }
}

@media (max-width: 768px) {
    .wrap-index-news .container {
        height: auto;
        padding-top: 20px;
    }

    .wrap-index-news .container ul {
        margin: 0 auto;
        width: 100%;
    }

    .wrap-index-news .container ul:first-child {
        float: none;
    }

    .wrap-index-news .container ul:last-child {
        float: none;
    }
}

.wrap-product-content .container {
    padding-top: 54px;
    height: 735px;
}

.wrap-product-content .container h2 {
    font-size: 38px;
    color: #333;
    text-align: center;
}

.wrap-product-content .container h3 {
    font-size: 16px;
    color: #808080;
    text-align: center;
    margin-top: 22px;
    margin-bottom: 60px;
}

.wrap-product-content .container ul li {
    float: left;
    width: 270px;
    height: 230px;
    font-size: 14px;
    color: #808080;
    text-align: center;
    padding-top: 106px;
    margin-left: 50px;
}

.wrap-product-content .container ul li h4 {
    font-size: 22px;
    color: #333;
    margin-bottom: 22px;
}

.wrap-product-content .container ul li .intro {
    line-height: 26px;
}

.wrap-product-content .container ul li:first-child {
    background: url("../images/first.png") center 0 no-repeat;
}

.wrap-product-content .container ul li:nth-child(2) {
    background: url("../images/second.png") center 0 no-repeat;
}

.wrap-product-content .container ul li:nth-child(3) {
    background: url("../images/third.png") center 0 no-repeat;
}

.wrap-product-content .container ul li:nth-child(4) {
    background: url("../images/fourth.png") center 0 no-repeat;
}

.wrap-product-content .container ul li:nth-child(5) {
    background: url("../images/fifth.png") center 0 no-repeat;
}

.wrap-product-content .container ul li:last-child {
    background: url("../images/sixth.png") center 0 no-repeat;
}

@media (min-width: 768px) {
    .wrap-product-content .container {
        height: auto;
    }
}

@media (min-width: 992px) {
    .wrap-product-content .container {
        height: 735px;
    }
}

@media (max-width: 768px) {
    .wrap-product-content .container {
        height: auto;
    }

    .wrap-product-content .container ul li {
        float: none;
        margin: 0 auto;
    }
}

.wrap-buy-content {
    padding-top: 54px;
    height: 973px;
}

.wrap-buy-content .container {
    width: 1130px;
}

.wrap-buy-content h2 {
    font-size: 38px;
    color: #333;
    text-align: center;
}

.wrap-buy-content h3 {
    font-size: 16px;
    color: #808080;
    text-align: center;
    margin-top: 22px;
    margin-bottom: 60px;
}

.wrap-buy-content .product-type-cards {
    height: 722px;
    clear: both;
    overflow: hidden;
    margin-top: 60px;
    padding-left: 50px;
}

.wrap-buy-content .product-type-cards .product-type-card {
    width: 315px;
    height: 722px;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    float: left;
    overflow: hidden;
    margin-right: 50px;
}

.wrap-buy-content .product-type-cards .product-type-card:last-child {
    margin-right: 0;
}

/*.wrap-buy-content .product-type-cards .product-type-card:nth-child(2) {
                height: 716px;
            }*/

.wrap-buy-content .product-type-cards .product-type-card.second-product-type-card {
    border-top: 3px solid #51b0eb;
    box-shadow: 0px 0px 5px #c1bebd;
}

.wrap-buy-content .product-type-cards .product-type-card.second-product-type-card .product-type-card-top {
    padding-top: 20px;
    height: 102px;
}

.wrap-buy-content .product-type-cards .product-type-card.second-product-type-card .product-type-card-middle a {
    background-color: #4fb1f7;
    color: #fff;
}

.wrap-buy-content .product-type-cards .product-type-card .product-type-card-top {
    height: 105px;
    width: 100%;
    text-align: center;
    padding-top: 24px;
    border-bottom: 1px solid #e6e6e6;
}

.wrap-buy-content .product-type-cards .product-type-card .product-type-card-top .product-title {
    font-size: 26px;
    color: #333;
    margin-bottom: 18px;
}

.wrap-buy-content .product-type-cards .product-type-card .product-type-card-top .product-info {
    font-size: 14px;
    color: #808080;
}

.wrap-buy-content .product-type-cards .product-type-card .product-type-card-middle {
    height: 148px;
    width: 100%;
    text-align: center;
    background-color: #fcfcfc;
    padding-top: 22px;
}

.wrap-buy-content .product-type-cards .product-type-card .product-type-card-middle .product-money {
    margin-bottom: 32px;
}

.wrap-buy-content .product-type-cards .product-type-card .product-type-card-middle .product-money span {
    font-size: 20px;
    color: #666;
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}

.wrap-buy-content .product-type-cards .product-type-card .product-type-card-middle .product-money span.price {
    font-size: 36px;
}

.wrap-buy-content .product-type-cards .product-type-card .product-type-card-middle .product-money span.year {
    font-size: 16px;
    vertical-align: bottom;
}

.wrap-buy-content .product-type-cards .product-type-card .product-type-card-middle .product-money .divid-line {
    display: inline-block;
    width: 1px;
    height: 34px;
    background-color: #e6e6e6;
    margin: 0 10px;
}

.wrap-buy-content .product-type-cards .product-type-card .product-type-card-middle a {
    width: 114px;
    height: 40px;
    display: block;
    margin: 0 auto;
    line-height: 40px;
    border: 1px solid #4fb1f7;
    color: #4fb1f7;
    border-radius: 2px;
    text-decoration: none;
}

.wrap-buy-content .product-type-cards .product-type-card .product-type-card-bottom {
    border-top: 1px solid #e6e6e6;
}

.wrap-buy-content .product-type-cards .product-type-card .product-type-card-bottom ul {
    padding-left: 110px;
    font-size: 14px;
    color: #696969;
}

.wrap-buy-content .product-type-cards .product-type-card .product-type-card-bottom ul li {
    background: url("../images/list-square.png") no-repeat 0 center;
    padding-left: 20px;
    margin-top: 16px;
}

.wrap-buy-content .product-type-cards .product-type-card .product-type-card-bottom ul span {
    margin-left: 90px;
    margin-top: 15px;
    display: inline-block;
}

.wrap-buy-content .product-type-cards .product-type-card .product-type-card-bottom ul .divid-line {
    width: 212px;
    height: 1px;
    background-color: #e6e6e6;
    margin-top: 18px;
    margin-bottom: -5px;
    margin-left: -40px;
}

@media (min-width: 768px) {
    .wrap-buy-content {
        height: auto;
    }

    .wrap-buy-content .container {
        width: 100%;
    }

    .wrap-buy-content .container .product-type-cards {
        height: auto;
    }

    .wrap-buy-content .container .product-type-cards .product-type-card {
        width: 30%;
        margin-right: 10px;
        margin-bottom: 20px;
    }

    .wrap-buy-content .container .product-type-cards .product-type-card .product-type-card-bottom ul {
        padding-left: 20%;
    }
}

@media (min-width: 992px) {
    .wrap-buy-content {
        height: 973px;
    }

    .wrap-buy-content .container {
        width: 1130px;
    }
}

@media (max-width: 768px) {
    .wrap-buy-content {
        height: auto;
    }

    .wrap-buy-content .container {
        width: 100%;
    }

    .wrap-buy-content .container .product-type-cards {
        height: auto;
    }

    .wrap-buy-content .container .product-type-cards .product-type-card {
        float: none;
        margin: 0 auto 20px;
        height: auto;
        padding-bottom: 20px;
    }
}

.wrap-news-content {
    padding-top: 54px;
    padding-bottom: 75px;
    background-color: #f8f8f8;
    margin-top: 3px;
}

.wrap-news-content .container {
    width: 1130px;
}

.wrap-news-content h2 {
    font-size: 38px;
    color: #333;
    text-align: center;
}

.wrap-news-content h3 {
    font-size: 16px;
    color: #808080;
    text-align: center;
    margin-top: 22px;
    margin-bottom: 60px;
}

.wrap-news-content .article-card-list {
    overflow: hidden;
    clear: both;
    padding-left: 55px;
}

.wrap-news-content .article-card-list .article-card {
    float: left;
    display: block;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    background-color: #fff;
    margin-bottom: 20px;
    height: 450px;
    width: 320px;
    position: relative;
    margin-right: 25px;
}

.wrap-news-content .article-card-list .article-card a {
    color: #666;
    text-decoration: none;
}

.wrap-news-content .article-card-list .article-card a:hover {
    color: #d14836;
    text-decoration: none;
}

.wrap-news-content .article-card-list .article-card .article-thumb {
    width: 100%;
    height: 222px;
    display: block;
}

.wrap-news-content .article-card-list .article-card .title-img {
    width: 100%;
    padding: 12px;
    height: 222px;
}

.wrap-news-content .article-card-list .article-card .article-title {
    font-size: 18px;
    padding: 0 12px;
}

.wrap-news-content .article-card-list .article-card .publish-info {
    padding: 0 12px;
    font-size: 13px;
    line-height: 36px;
    color: #cacfd3;
}

.wrap-news-content .article-card-list .article-card .publish-info .author-name {
    color: #cacfd3;
    padding-right: 8px;
}

.wrap-news-content .article-card-list .article-card .publish-info span {
    margin-right: 10px;
}

.wrap-news-content .article-card-list .article-card .article-summary {
    padding: 0 12px;
    color: gray;
    line-height: 22px;
    height: 150px;
}

.wrap-news-content .article-card-list .article-card .article-footer {
    position: absolute;
    width: 94%;
    margin: 0 3%;
    padding: 0 8px;
    height: 42px;
    line-height: 42px;
    border-top: 1px solid #e1e1e1;
    bottom: 0;
}

.wrap-news-content .article-card-list .article-card .article-footer .category-name {
    color: #4fb1f7;
}

.wrap-news-content .article-card-list .article-card .article-footer .pull-right {
    color: #cacfd3;
    float: right;
}

.wrap-news-content .article-card-list .article-card .article-footer .pull-right span {
    padding-left: 16px;
}

.wrap-news-content .pagination-wrapper {
    text-align: center;
    margin-top: 20px;
}

.wrap-news-content .pagination-wrapper .pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

.wrap-news-content .pagination-wrapper .pagination > li {
    display: inline;
}

.wrap-news-content .pagination-wrapper .pagination > li > a, .wrap-news-content .pagination-wrapper .pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    color: #666;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-left: -1px;
}

.wrap-news-content .pagination-wrapper .pagination > li:first-child > a, .wrap-news-content .pagination-wrapper .pagination > li:first-child > span {
    margin-left: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.wrap-news-content .pagination-wrapper .pagination > li:last-child > a, .wrap-news-content .pagination-wrapper .pagination > li:last-child > span {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.wrap-news-content .pagination-wrapper .pagination > li > a:focus, .wrap-news-content .pagination-wrapper .pagination > li > a:hover, .wrap-news-content .pagination-wrapper .pagination > li > span:focus, .wrap-news-content .pagination-wrapper .pagination > li > span:hover {
    z-index: 2;
    color: #d14836;
    background-color: #eee;
    border-color: #ddd;
}

.wrap-news-content .pagination-wrapper .pagination > .active > a, .wrap-news-content .pagination-wrapper .pagination > .active > a:focus, .wrap-news-content .pagination-wrapper .pagination > .active > a:hover, .wrap-news-content .pagination-wrapper .pagination > .active > span, .wrap-news-content .pagination-wrapper .pagination > .active > span:focus, .wrap-news-content .pagination-wrapper .pagination > .active > span:hover {
    z-index: 3;
    color: #fff;
    background-color: #d84c31;
    border-color: #d84c31;
    cursor: default;
}

.wrap-news-content .pagination-wrapper .pagination > .disabled > a, .wrap-news-content .pagination-wrapper .pagination > .disabled > a:focus, .wrap-news-content .pagination-wrapper .pagination > .disabled > a:hover, .wrap-news-content .pagination-wrapper .pagination > .disabled > span, .wrap-news-content .pagination-wrapper .pagination > .disabled > span:focus, .wrap-news-content .pagination-wrapper .pagination > .disabled > span:hover {
    color: #777;
    background-color: #fff;
    border-color: #ddd;
    cursor: not-allowed;
}

.wrap-news-content .pagination-wrapper .pagination-lg > li > a, .wrap-news-content .pagination-wrapper .pagination-lg > li > span {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33333;
}

.wrap-news-content .pagination-wrapper .pagination-lg > li:first-child > a, .wrap-news-content .pagination-wrapper .pagination-lg > li:first-child > span {
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
}

.wrap-news-content .pagination-wrapper .pagination-lg > li:last-child > a, .wrap-news-content .pagination-wrapper .pagination-lg > li:last-child > span {
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
}

.wrap-news-content .pagination-wrapper .pagination-sm > li > a, .wrap-news-content .pagination-wrapper .pagination-sm > li > span {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
}

.wrap-news-content .pagination-wrapper .pagination-sm > li:first-child > a, .wrap-news-content .pagination-wrapper .pagination-sm > li:first-child > span {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}

.wrap-news-content .pagination-wrapper .pagination-sm > li:last-child > a, .wrap-news-content .pagination-wrapper .pagination-sm > li:last-child > span {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}

.wrap-news-content .list-container {
    padding: 35px 35px 0;
    background-color: #fff;
    margin-bottom: 30px;
}

.wrap-news-content .list-container .header {
    height: 44px;
    line-height: 44px;
    border-bottom: 1px solid #d2d2d2;
    clear: both;
    overflow: hidden;
}

.wrap-news-content .list-container .header .title {
    font-size: 28px;
    color: #333;
    float: left;
}

.wrap-news-content .list-container .header .more-link {
    font-size: 14px;
    color: #a1a1a1;
    display: block;
    float: right;
}

.wrap-news-content .list-container .list-body {
    padding: 24px 0 24px;
}

.wrap-news-content .list-container .video-list {
    overflow: hidden;
    clear: both;
    margin-right: -44px;
}

.wrap-news-content .list-container .video-list .video-container {
    width: 230px;
    display: block;
    text-decoration: none;
    float: left;
    margin-right: 44px;
    margin-bottom: 20px;
    position: relative;
}

.wrap-news-content .list-container .video-list .video-container .thumb {
    width: 100%;
    height: 120px;
    /*background: url(../images/video-thumb.png) no-repeat center center;*/
}

.wrap-news-content .list-container .video-list .video-container .thumb .normal-img {
    display: block;
    width: 100%;
    height: 100%;
}

.video-img {
    display: block;
    width: 100%;
    height: 100%;
    -webkit-transition: transform linear .3s;
    transition: transform linear .3s;
}

.thumb:hover .video-img {
    -webkit-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
}

.bg-mark {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 125px;
    background: rgba(0, 0, 0, .3);
}

.video-start, .start-light {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 33px;
    height: 33px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.start-light {
    display: none;
}

.bg-mark:hover .video-start {
    display: none;
}

.bg-mark:hover .start-light {
    display: block;
}

.wrap-news-content .list-container .video-list .video-container .video-info {
}

.wrap-news-content .list-container .video-list .video-container .video-title {
    font-size: 15px;
    color: #666;
    height: 52px;
    line-height: 52px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.wrap-news-content .list-container .video-list .video-container .video-desc {
    font-size: 12px;
    color: #a1a1a1;
    line-height: 18px;
    height: 36px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
}

.wrap-news-content .list-container .list-body .doc-list {
    clear: both;
    overflow: hidden;
}

.wrap-news-content .list-container .list-body .doc-list ul {
}

.wrap-news-content .list-container .list-body .doc-list ul li {
    width: calc(100% / 3);
    float: left;
    /*list-style: circle;*/
    /*padding-left: 20px;*/
}

.wrap-news-content .list-container .list-body .doc-list ul li a {
    color: #666;
    width: 90%;
    height: 40px;
    /*line-height: 50px;*/
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}

@media (min-width: 768px) {
    .wrap-news-content .container {
        width: 100%;
    }

    .wrap-news-content .list-container .video-list .video-container {
        width: 40%;
        position: relative;
    }

    .wrap-news-content .list-container .video-list .video-container .thumb {
        background-position-x: 0;
    }

    .wrap-news-content .list-container .video-list .video-container:hover .thumb {
        background-position-x: 0;
    }

    .wrap-news-content .container .article-card-list {
        padding-left: 10%;
    }
}

@media (min-width: 992px) {
    .wrap-news-content .container {
        width: 1130px;
    }

    .wrap-news-content .list-container .video-list .video-container {
        width: 230px;
        position: relative;
    }

    .wrap-news-content .list-container .video-list .video-container .thumb {
        background-position-x: 0;
    }

    .wrap-news-content .list-container .video-list .video-container:hover .thumb {
        background-position-x: 0;
    }

    .wrap-news-content .container .article-card-list {
        padding-left: 55px;
    }
}

@media (max-width: 768px) {
    .wrap-news-content .container {
        width: 100%;
    }

    .wrap-news-content .container .article-card-list {
        padding-left: 0;
    }

    .wrap-news-content .container .article-card-list .article-card {
        float: none;
        margin: 0 auto 10px;
    }

    .wrap-news-content .list-container .list-body .doc-list ul {
        width: 100%;
    }

    .wrap-news-content .list-container .video-list .video-container {
        /*width: 100%;*/
        margin-right: 0;
        position: relative;
    }

    .wrap-news-content .list-container .video-list .video-container .thumb {
        background-position-x: 0;
    }

    .wrap-news-content .list-container .video-list .video-container:hover .thumb {
        background-position-x: 0;
    }
}

.wrap-download-content {
    background-color: #f5f5f5;
    height: 635px;
}

.wrap-download-content .container {
    padding-top: 155px;
    margin-top: 3px;
    background: url("../images/download-page-bg.png") 500px 146px no-repeat;
}

.wrap-download-content h2 {
    font-size: 40px;
    color: #333;
}

.wrap-download-content h3 {
    font-size: 40px;
    color: #333;
    font-weight: 600;
    margin-top: 22px;
    margin-bottom: 40px;
}

.wrap-download-content .download-intro {
    font-size: 14px;
    color: #8e8c8c;
    line-height: 30px;
    margin-bottom: 30px;
}

.wrap-download-content .download-btn {
    width: 180px;
    height: 60px;
    line-height: 56px;
    padding-left: 60px;
    background: url("../images/download-btn-bg.png") 0 0 no-repeat;
    display: block;
    color: #fff;
    font-size: 18px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.wrap-download-content .dep {
    display: block;
    color: #333;
    font-size: 14px;
    padding-top: 20px;
}

.wrap-download-content .waring {
    display: block;
    color: red;
    font-size: 14px;
    padding-top: 20px;
    line-height: 18px;
}

@media (min-width: 768px) {
    .wrap-download-content {
        height: auto;
    }

    .wrap-download-content .container {
        padding: 55px 0 30px 20px;
    }
}

@media (min-width: 992px) {
    .wrap-download-content {
        height: 635px;
        /*�޸ı��*/
        background: #fff url("../images/download-bg.jpg") no-repeat 0 0;
        background-size: 100% 100%;
        overflow: hidden;
    }

    .wrap-download-content .container {
        padding: 155px 0 0;
    }
}

@media (max-width: 768px) {
    .wrap-download-content {
        height: auto;
    }

    .wrap-download-content .container {
        padding: 55px 0 30px 20px;
    }
}

.wrap-news-detail {
    margin-top: 5px;
    background-color: #fff;
}

.wrap-news-detail .news-content {
    padding: 20px 0 30px;
}

.wrap-news-detail .news-content h2 {
    font-size: 28px;
    color: #333;
}

.wrap-news-detail .news-content .news-head {
    padding-bottom: 10px;
    border-bottom: 1px dashed #e5e5e5;
}

.wrap-news-detail .news-content .news-head .head-info {
    font-size: 14px;
    color: #999;
    line-height: 1.0;
    height: 30px;
}

.wrap-news-detail .news-content .news-head .head-info span {
    margin-right: 30px;
    height: 30px;
    line-height: 30px;
}

.wrap-news-detail .news-content .news-detail {
    padding: 30px 0 10px;
    font-size: 16px;
    color: #333;
    line-height: 28px;
    padding: 20px 10px;
}

.wrap-news-detail .news-content .news-detail img {
    width: 100%;
    height: 100%;
}

.wrap-news-detail .news-content .news-footer {
    border-top: 1px solid #e5e5e5;
    padding-top: 20px;
}

.wrap-news-detail .news-content .news-footer a {
    color: #333;
    display: inline-block;
    height: 20px;
    max-width: 47%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.wrap-news-detail .news-content .news-footer .next {
    float: right;
}

.wrap-news-detail .hot-news {
    padding-top: 20px;
    margin-bottom: 20px;
}

.wrap-news-detail .hot-news .hot-title {
    border-bottom: 1px solid #e5e5e5;
    height: 30px;
    padding-bottom: 10px;
    font-size: 20px;
    line-height: 30px;
}

.wrap-news-detail .hot-news .hot-news-list {
    list-style: none;
}

.wrap-news-detail .hot-news .hot-news-list li {
    margin-top: 16px;
    height: 16px;
    line-height: 16px;
    background: url("../images/list-square.png") 0 7px no-repeat;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 10px;
}

.wrap-news-detail .hot-news .hot-news-list li a {
    color: #333;
}

.wrap-news-detail-template {
    margin-top: 5px;
    background-color: #F9F9F9;
    padding: 35px 0;
}

.wrap-news-detail-template .article-detail .article-title {
    font-size: 22px;
    padding-left: 0;
    margin-top: 0;
}

.wrap-news-detail-template .article-detail .article-title a {
    color: #666;
}

.wrap-news-detail-template .article-detail .article-title a:hover {
    color: #d14836;
    text-decoration: none;
}

.wrap-news-detail-template .article-detail .publish-info {
    margin-top: 15px;
    margin-bottom: -9px;
    padding: 0;
    font-size: 13px;
    line-height: 36px;
    color: #cacfd3;
}

.wrap-news-detail-template .article-detail .publish-info .avatar {
    float: left;
    width: 50px;
}

.wrap-news-detail-template .article-detail .publish-info .author-avatar {
    margin-right: 6px;
}

.wrap-news-detail-template .article-detail .publish-info .author-avatar img {
    width: 36px;
    height: 36px;
    border-radius: 18px;
}

.wrap-news-detail-template .article-detail .publish-info .detail {
    line-height: 28px;
    /*margin-left: 50px;*/
    border-bottom: 1px solid #cacfd3;
    margin-top: -3px;
}

.wrap-news-detail-template .article-detail .publish-info .author-name {
    color: #cacfd3;
    padding-right: 8px;
}

.wrap-news-detail-template .article-detail .publish-info span {
    margin-right: 10px;
    color: #cacfd3;
}

.wrap-news-detail-template .article-detail .publish-info .icon-comment {
    position: relative;
    margin-bottom: -3px;
}

.wrap-news-detail-template .article-detail .publish-info .icon-view {
    position: relative;
    margin-bottom: -3px;
}

.wrap-news-detail-template .article-detail .markdown {
    line-height: 25px;
    font-size: 16px;
}

.wrap-news-detail-template .article-detail .markdown p {
    margin: 18px 0 18px 0;
}

.wrap-news-detail-template .panel {
    padding: 18px 12px;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    box-shadow: 0 0 1px .5px #E2E2E2;
    position: relative;
    margin-bottom: 28px;
    background-color: #F9F9F9;
}

.wrap-news-detail-template .panel h4 {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 10px;
}

.wrap-news-detail-template .relate-blog {
    border-top: 1px solid #e1e1e1;
    font-size: 15px;
    padding: 13px 10px 0 10px;
    margin-top: 13px;
}

.wrap-news-detail-template .relate-blog a {
    color: #666;
    text-decoration: none;
}

.wrap-news-detail-template .relate-blog a:hover {
    color: #d14836;
    text-decoration: none;
}

.article-comment {
    margin-top: 20px;
}

.article-comment .comment-list-header {
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 12px;
}

.article-comment .comment-item {
    padding: 8px 0;
    border-bottom: 1px solid #e1e1e1;
}

.article-comment .comment-item .comment-meta {
    padding-left: 0;
    padding-right: 0;
    color: #cacfd3;
}

.article-comment .comment-item .comment-meta .author-avatar > img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.article-comment .comment-item .top-right-corner .forum-badge {
    background: none repeat scroll 0 0 #F9F9F7;
    border: 1px solid #E1E1E1;
    border-radius: 3px;
    color: #AAA;
    display: inline-block;
    font-size: 12px;
    line-height: 16px;
    padding: 0 4px;
}

.article-comment .comment-item .comment-content {
    padding: 0 8px;
}

.article-comment .comment-item .comment-content h1, .article-comment .comment-item .comment-content h2, .article-comment .comment-item .comment-content h3, .article-comment .comment-item .comment-content h4, .article-comment .comment-item .comment-content h5, .article-comment .comment-item .comment-content p {
    margin: 6px 0;
}

.article-comment .blog-comment-md {
    width: 100%;
}

.article-comment .comment-submit {
    margin-top: 10px;
}

.article-comment .go-top {
    margin-top: 10px;
    font-size: 14px;
    text-decoration: underline;
}

.article-comment .article-newcomment-wrapper {
    margin-top: 30px;
}

.article-comment .pagination-wrapper {
    text-align: center;
}

.detailcrumb {
    margin-bottom: 30px;
    list-style: none;
}

.detailcrumb > li {
    display: inline-block;
}

/*.detailcrumb>li:first-child {
    font-size: 18px;
    font-weight: bolder;
}
.detailcrumb>li:first-child>a {
    color: #666;
}*/
.detailcrumb > li > a {
    font-size: 15px;
    color: #808080;
}

.detailcrumb > li + li:before {
    font-size: 16px;
    color: #cacfd3;
    content: ">";
    /*padding: 0 5px*/
}

.breadcrumb > .active > a {
    color: #69d0d1;
}

.posts-list,
.articles-list {
    margin-bottom: 30px;
}

.posts-list li,
.articles-list li {
    position: relative;
    padding-bottom: 18px;
    border-bottom: 1px solid #e2eaec;
    padding-top: 18px;
}

.posts-list li:hover,
.articles-list li:hover {
    background: #f9fcff;
}

.posts-list .label,
.articles-list .label {
    position: absolute;
    right: 5px;
    top: 16px;
}

.posts-list .top,
.articles-list .top,
.posts-list .elite,
.articles-list .elite {
    float: right;
    margin-right: 5px;
    height: 18px;
    line-height: 18px;
    font-size: 12px;
    color: #fff;
    padding: 0 6px;
    border-radius: 3px;
}

.posts-list .top,
.articles-list .top {
    background: #ff595f;
}

.posts-list .elite,
.articles-list .elite {
    background: #ffa900;
}

.posts-item-content h3,
.articles-item-content h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
}

.posts-item-content h3 > a,
.articles-item-content h3 > a {
    color: #428bca;
}

.posts-item-content h3 > a:hover,
.articles-item-content h3 > a:hover {
    color: #569fde;
}

.posts-item-content h3 + p,
.articles-item-content h3 + p {
    font-size: 13px;
    color: #aaa;
}

.posts-item-content h3 + p span,
.articles-item-content h3 + p span,
.posts-item-content h3 + p time,
.articles-item-content h3 + p time {
    color: #666666;
}

.posts-item-content .top,
.articles-item-content .top {
    color: #ff595f;
}

.posts-item-time {
    float: right;
    font-size: 13px;
    color: #666666;
}

@media (max-width: 768px) {
    .wrap-news-detail-template .article-detail {
        padding: 0 20px;
    }

    .wrap-news-detail-template .detailcrumb {
        padding: 0 20px;
    }
}

@media (max-width: 768px) {
    .wrap-news-detail-template .panel {
        margin: 20px;
    }
}


@font-face {
    font-family: "iconfont";
    src: url('iconfont.eot?t=1520604095280'); /* IE9*/
    src: url('../fonts/iconfont.eot') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/75704d4b36f3441a97ce841919eca9e1.woff') format('woff'), url('../fonts/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('../fonts/iconfont.svg') format('svg'); /* iOS 4.1- */
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 32px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-ask:before {
    content: "\e603";
}

.icon-group:before {
    content: "\e605";
}

.icon-qq:before {
    content: "\e630";
}

.quick-bar {
    position: fixed;
    right: 20px;
    top: 54%;
    background-color: #555;
    width: 55px;
}

.quick-bar ul li a {
    display: block;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    color: #fff;
    border-bottom: 1px solid #fff;
}

.quick-bar ul li a span {
    display: block;
    font-size: 12px;
    text-align: center;
    padding-top: 2px;
}

.quick-bar ul li a:hover {
    color: #1786df;
}

.wrap-product-version .container {
    padding-top: 30px;
    padding-bottom: 30px;
}

.wrap-product-version .container h2 {
    font-size: 12pt;
    border-bottom: 1px solid #ccc;
    color: #333;
    margin: 0 0 15px;
    padding: 1px 0 7px;
    line-height: 160%;
    font-weight: 700;
}

#VersionHistory-Box {
    float: left;
    width: 100%;
    margin-bottom: 20px;
}

#VersionHistory-Box .Version_Title {
    float: left;
    width: 160px;
}

#VersionHistory-Box > .container {
    border-bottom: 1px solid #ccc;
}

#VersionHistory-Box h3 {
    float: left;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #999;
    color: #83b11a;
    padding: 0 0 5px;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 700;
}

#VersionHistory-Box p {
    float: left;
    width: 100%;
    text-align: center;
    font-size: 13px;
    font-weight: 400;
    color: #999;
    margin: 0;
}

#VersionHistory-Box ul {
    float: left;
    list-style-type: square;
    padding: 0 0 0 40px;
}

#VersionHistory-Box ul li {
    clear: both;
    line-height: 140%;
}
